<html>
	<head></head>
	<body>
		<p>
			<form>
				<input type='text' name='guess' />
				<input type='submit' value='Guess!' />
			</form>
			<% if !message.nil? %>
				<%= message %>
				<br><br>
			<% end %>
			<% if answer == true %>
			The SECRET NUMBER is  <%= number %>
			<% else %>
			Please guess a number from 1-99
			<% end %>
		</p>
	</body>
</html>